body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* 禁用文本選取 */
.no-select {
  user-select: none; /* 禁用文本選取 */
  -webkit-user-select: none; /* 針對 Safari 和 Chrome */
  -moz-user-select: none; /* 針對 Firefox */
  -ms-user-select: none; /* 針對 IE/Edge */
}


h2 {
    color: #4A90E2;
    text-align: center;
}

.input-container input[type="text"] {
    margin-bottom: 10px;
    min-width: 6rem;
    width: 20rem;
    height: 2.25rem;
    padding: 0 30px 0 10px;
    border: 2px solid #4A90E2;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 1.25rem;
    transition: background-color 0.3s ease; /* 添加過渡效果 */
}

.input-container input[type="text"]:hover {
    background-color: aliceblue;
}

.search-btn {
    margin-bottom: 10px;
    display: flex;
    width: 100px;
    padding: 10px 5px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-content: space-evenly;
    transition: background-color 0.3s ease; /* 添加過渡效果 */
    align-items: center;
}

.search-btn:disabled {
    background-color: #ccc; /* 禁用時的背景顏色 */
    color: #666; /* 禁用時的文字顏色 */
    cursor: not-allowed; /* 禁用時的鼠標樣式 */
}

.search-btn:hover {
    background-color: #3243c4;
}
    .search-icon{
        display: none;
    }

#toggleButton{
    background-color: #7d72ff;
    margin-bottom: 10px;
    display: flex;
    width: 80px;
    padding: 10px 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-content: space-evenly;
    transition: background-color 0.3s ease; /* 添加過渡效果 */
    align-items: center;
}

#toggleButton:hover{
    background-color: #b8b2ff;
}
.month-selector {
    margin-right: 35px;
    min-width: fit-content;
    margin-bottom: 10px;
}

.month-select {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
            
/* 提高选项的可读性 */
.month-select option:hover {
    background-color: #f1f1f1; /* 鼠标悬停时背景颜色 */
}

/* 美化 label */
.custom-checkbox-label {
  height: auto;
  font-size: 16px; /* 調整字體大小 */
  font-family: Arial, sans-serif; /* 字體樣式 */
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #333;
  position: relative; /* 讓伪元素定位 */
  padding-bottom: 2px; /* 添加一點下方間距 */
  margin-left: 10px;
}

/* 底線效果，使用伪元素 */
.custom-checkbox-label::after {
  content: ''; /* 伪元素內容為空 */
  position: absolute;
  width: 0; /* 初始寬度為0 */
  height: 2px; /* 底線高度 */
  background-color: #333; /* 底線顏色 */
  left: 0;
  bottom: 0;
  transition: width 0.3s ease; /* 寬度漸變效果 */
}

/* hover效果 */
.custom-checkbox-label:hover::after {
  width: 100%; /* hover時，底線寬度變為100% */
}


/* 美化 checkbox */
.custom-checkbox {
  appearance: none; /* 移除默認樣式 */
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px; /* 圓角 */
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease; /* 漸變效果 */
}

/* 勾選後的狀態 */
.custom-checkbox:checked {
  background-color: #96e69a; /* 背景變綠 */
}

/* 勾選後的圖標（勾選符號） */
.custom-checkbox:checked::before {
  content: "✔";
  font-size: 14px;
  color: #333;
  position: absolute;
  left: 3px;
  top: -2px;
  transition: all 0.3s ease; /* 勾選符號漸變 */
}

.table-place {
    overflow-x: auto; /* 超出部分顯示滾動條 */
    padding: 10px;
    margin-top: 10px; /* 顯示一些間距 */
    border: 1px solid #ccc; /* 可選：設定邊框 */
    border-radius: 5px; /* 可選：設定圓角 */
    background-color: #efe4ff; /* 可選：設定背景顏色 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 可選：設定陰影 */
    
        &::-webkit-scrollbar{
          height: 10px;
          background-color: #bcbcbc;
        }
        &::-webkit-scrollbar-thumb{
          border-radius: 5px;
          margin: 0 5px;
          background-color: #727272;

        }
}

table {
    min-width: 900px; /* 設定 div 的最大高度 */
    background-color: white;
}

    /* 針對第一個 tr 的最後 8 個欄位 */
    tr:first-child th:nth-last-child(-n+8) {
        white-space: nowrap; /* 禁止換行 */
    }

    /* 針對最後一個 tr 的最後 8 個欄位 */
    tr:last-child td:nth-last-child(-n+8) {
        white-space: nowrap; /* 禁止換行 */
    }

#result, #result_notice {
    display: none; /* 預設不顯示 */
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td, tr {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4A90E2;
    color: white;
}

tr {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.warning {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    color: #4A90E2;
    margin-top: 20px;
}

.extra-mission {
    margin-top: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 5px solid #4A90E2;
}

#recordArea {
    font-size: 1.25rem;
}

.recordArea-title{
    display: flex;
    align-items: center;
}
#recordList {
    background-color: #c0dfe2;
    padding: 15px;
    border-radius: 5px;
    display: none;

}

#recordList div {
    padding: 10px;                /* 内边距 */
    margin: 5px 0;               /* 上下外边距 */
    background-color: #f9f9f9;   /* 背景颜色 */
    border: 1px solid #ccc;      /* 边框样式 */
    border-radius: 5px;          /* 边框圆角 */
    display: flex;                /* 使用 flexbox 布局 */
    align-items: center;          /* 垂直居中对齐 */
    transition: background-color 0.3s; /* 背景颜色过渡效果 */
    overflow-x: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
        &::-webkit-scrollbar{
          height: 10px;
          background-color: #bcbcbc;
        }
        &::-webkit-scrollbar-thumb{
          border-radius: 5px;
          margin: 0 5px;
          background-color: #727272;

        }
}

#recordList div:hover {
    background-color: #e6f7ff;   /* 悬停时背景颜色 */
}

.record-checkbox {
    width: 15px; /* 设置宽度 */
    height: 15px; /* 设置高度 */
    margin: 0px 20px 0 5px;
    transform: scale(1.5); /* 调整大小 */
    cursor: pointer; /* 鼠标悬停时变成指针 */
}

.record-placeb {
    margin: 10px 0 0 -10px;
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
}

.record-placeb button{
    margin: 0 10px;
    width: auto;
    padding: 10px 15px;
}

#clearRecords {
    margin: 0 10px;
    background-color: #960b0b; /* 设置背景颜色为红色 */
    color: white; /* 设置文字颜色为白色，以确保可读性 */
    border: none; /* 去掉默认边框 */
}

#clearRecords:hover {
    background-color: lightcoral; /* 鼠标悬停时背景颜色变为浅红色 */
}

.search-select-place {
    display: flex;
    flex-wrap: wrap; /* 允許換行 */
    gap: 10px; /* 元素之間的間距 */
    align-items: center;
}

.input-container {
    position: relative;
    display: inline-block;
}

.clear-btn {
    position: absolute;
    right: 1.5rem;
    top: .5rem;
/*    transform: translate(-50%);*/
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: #676767;
    display: block;
}

.input-container button:hover{
    transition: color 0.3s, text-shadow 0.2s; /* 背景和文字陰影的過渡效果 */
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加文字阴影 */
}


/* 定義閃爍效果 */
@keyframes flash {
    0% { background-color: yellow; }
    50% { background-color: transparent; }
    100% { background-color: yellow; }
}

/* 添加 .flash 類別，來控制閃爍 */
.flash {
    animation: flash 1s ease-in-out 2; /* 1秒鐘閃爍兩次 */
}

/* 修改文字區 */

.text-modification-container {
    display: flex;
    flex-direction: column; /* 垂直排列子元素 */
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.text-modification-container-in {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 添加間距 */
}
.text-input-group {
    flex: 1 1 250px; /* 調整 flex 屬性以適應容器 */
    margin-bottom: 20px;
}
.text-input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.25rem;
}
textarea {
    resize: vertical;
}
.text-modification-button {
    background-color: #4CAF50; /* 綠色 */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center; /* 按鈕居中 */
    transition: background-color 0.3s ease; /* 添加過渡效果 */
}
.text-modification-button:hover {
    background-color: #45a049;
}

.show-text-modification-button {
    background-color: #4CAF50; /* 綠色 */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* 添加過渡效果 */
}
.show-text-modification-button:hover {
    background-color: #48864b;
}


/* 當螢幕寬度小於 768 像素時，去除 padding */
@media (max-width: 768px) {
    .record-placeb {
        padding: 0; /* 去除 padding */
    }

    .input-container input[type="text"] {
        width: 12rem;
    }
    .month-selector {
        margin-right: 25px;
    }
    
}